.search-item-wrapper
  .icon#search-modal-off
    =fa_icon "times-circle lg"
  .item-container
    .item-name
      = @item.name
    %p.item-sumally
    .item-main-box.clearfix
      .left-box
        -case @item.sale_status
        - when 1
          .mark.sold
          %p.status-text SOLD
        - when 2
          .mark.reserved
          %p.status-text 予約済
        = image_tag(@item.image,class: "show-main-image")
      .right-box
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to user_path(@item.user_id) do
                  = @item.user.nickname
            %tr
              %th カテゴリー
              %td
                = link_to @item.category_genre.name, categories_path(category_genre_id: @item.category_genre.id)
                %br
                = link_to category_path(@item.category) do
                  = fa_icon "angle-right"
                  = @item.category.name
            %tr
              %th ブランド
              %td
                = link_to @item.brand.name, brand_path(@item.brand)
            %tr
              %th 商品の状態
              %td= @item.quality_status
            %tr
              %th 配送の方法
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td 未定
            %tr
              %th 配送元地域
              %td= link_to "東京都", "#"
            %tr
              %th 発送日の目安
              %td= @item.days
        .item-price
          %p.item-price__price
            ¥
            = @item.price
          %p.item-price__tax（税込）
          %p.item-price__option 送料込み
        -case @item.sale_status
        - when 0
          = link_to "購入画面に進む", item_sell_records_path(@item), class: "buy-btn"
        - when 1
          %p.buy-btn Soldout
    .item-text
      = @item.text
    .item-footer.clearfix
      .btn-box
        - if user_signed_in?
          = link_to like_item_likes_path(params[:id],item_id: @item.id, user_id: current_user.id), method: :post, class: "item-footer-btn" do
            = fa_icon "heart"
            いいね
        - else
          = link_to new_user_session_path, class: "item-footer-btn" do
            = fa_icon "heart"
            いいね
        = link_to "#", class: "item-footer-btn" do
          = fa_icon "flag"
          不適切な商品を報告
      = link_to "#", class: "item-footer__link" do
        = fa_icon "lock"
        あんしん・あんぜんへの取り組み

