= render 'search_consoles/index-modal'
= render 'shared/header'
.search-bar
  .search-bar-inner
    .search-box
      %form{class: "search-form"}
        %input{class: "search__query search-input", type: "text", name: "keyword", placeholder: "検索したいキーワードを入力してください"}
      %i.material-icons search
      .result-box
        %h2.search-result-head 10000hit!
.search-container.bg-gray.box-shadow
  .search-contents-wrapper
    = render 'search_consoles/index-main'
= render 'shared/app-banner'
= render 'shared/footer-search'
