= render 'shared/header'
.container.bg-gray.box-shadow.container-padding45
  .users-show-contents-wrapper
    .user-show-header
      = image_tag(User.find(params[:id]).dashboard.background, class: "background-img")
      = image_tag(User.find(params[:id]).dashboard.avatar, class: "avatar-img")
      %h2 #{User.find(params[:id]).nickname}さんの商品一覧
    .users-show-main
      .users-show-items.clearfix
        - @items.each do |item|
          .users-show-item-card
            = link_to item do
              -case item.sale_status
              - when 1
                .mark.sold
                %p.status-text SOLD
              - when 2
                .mark.reserved
                %p.status-text 予約済
              = image_tag(item.image, class: "item-img")
              .item-info-box
                .item-name.font-2
                  = item.name
                .item-info.clearfix
                  .item-info__price.font-5
                    ¥
                    = item.price
                  .item-info__like.font-2
                    = fa_icon "heart"
                    %span 7
                %p.item-tax (税込)
    .user-paginate-box.clearfix
      = paginate @items
= render 'shared/app-banner'
= render 'shared/footer'
