.item-square220
  .top-layer
    - if item.like_count != 0
      = fa_icon "heart", class: "red"
      %span.red= item.like_count
    - else
      = fa_icon "heart", class: "gray"
      %span.gray= item.like_count
  = link_to item, class: "middle-layer" do
    .item-name
      = item.name
    .item-info.clearfix
      .item-info__price
        ¥
        = item.price
    %p.item-tax (税込)
  .bottom-layer
    - case item.sale_status
    - when 1
      .mark.sold
      %p.status-text SOLD
    - when 2
      .mark.reserved
      %p.status-text 予約済
  = image_tag(item.image, class: "item-img")

