- if user_signed_in?
  = link_to like_item_likes_path(params[:id],item_id: @item.id, user_id: current_user.id, format: :js), remote: true, method: :post do
    - if @item.like_count != 0
      = fa_icon "heart", class: "red icon"
      %span.red= @item.like_count
    - else
      = fa_icon "heart", class: "gray icon"
      %span.gray= @item.like_count
- else
  = link_to "#", class: "item-footer-btn" do
    - if @item.like_count != 0
      = fa_icon "heart", class: "red icon"
      %span.red= @item.like_count
    - else
      = fa_icon "heart", class: "gray icon"
      %span.gray= @item.like_count
