.item-section-wrapper.bg-white
  .item-section
    %h2
      = fa_icon "bell", class: "icon"
      新着アイテム
    #item_list01
      = render 'home/view01'
.item-section-wrapper.bg-gray
  .item-section
    %h2
      = fa_icon "heart", class: "icon"
      お気に入りランキング!
    #item_list02
      = render 'home/view02'
.item-section-wrapper.bg-white
  .item-section
    %h2
      = fa_icon "bell", class: "icon"
      レディースの新着アイテム
    #item_list03
      = render 'home/view03'
.item-section-wrapper.bg-gray
  .item-section
    %h2
      = fa_icon "bell", class: "icon"
      メンズの新着アイテム
    #item_list04
      = render 'home/view04'
.item-section-wrapper.bg-white
  .item-section
    %h2
      = fa_icon "bell", class: "icon"
      キッズの新着アイテム
    #item_list05
      = render 'home/view05'
