.item-pickup-section
  %h2 ピックアップカテゴリー
  .items-container.clearfix
    .pickup-title
      = link_to "新着アイテム", "#"
    .items.clearfix
      - @items.each do |item|
        .item-card
          = link_to item do
            -case item.sale_status
            - when 1
              .mark.sold
              %p.status-text SOLD
            - when 2
              .mark.reserved
              %p.status-text 予約済
            = image_tag(item.image, class: "item-img lazyloaded")
            .item-name.font-2
              = item.name
            .item-info.clearfix
              .item-info__price.font-5
                ¥
                = item.price
              .item-info__like.font-2
                = fa_icon "heart"
                %span 7
            %p.item-tax (税込)
    = link_to "すべての商品を見る", "#", class: "view-all"
  .items-container.clearfix
    .pickup-title
      = link_to "レディース", "#"
    .items.clearfix
      - @category01_items.each do |item|
        .item-card
          = link_to item do
            -case item.sale_status
            - when 1
              .mark.sold
              %p.status-text SOLD
            - when 2
              .mark.reserved
              %p.status-text 予約済
            = image_tag(item.image, class: "item-img lazyloaded")
            .item-name.font-2
              = item.name
            .item-info.clearfix
              .item-info__price.font-5
                ¥
                = item.price
              .item-info__like.font-2
                = fa_icon "heart"
                %span 7
            %p.item-tax (税込)
    = link_to "すべての商品を見る", "#", class: "view-all"
  .items-container.clearfix
    .pickup-title
      = link_to "メンズ", "#"
    .items.clearfix
      - @category02_items.each do |item|
        .item-card
          = link_to item do
            -case item.sale_status
            - when 1
              .mark.sold
              %p.status-text SOLD
            - when 2
              .mark.reserved
              %p.status-text 予約済
            = image_tag(item.image, class: "item-img lazyloaded")
            .item-name.font-2
              = item.name
            .item-info.clearfix
              .item-info__price.font-5
                ¥
                = item.price
              .item-info__like.font-2
                = fa_icon "heart"
                %span 7
            %p.item-tax (税込)
    = link_to "すべての商品を見る", "#", class: "view-all"
  .items-container.clearfix
    .pickup-title
      = link_to "キッズ", "#"
    .items.clearfix
      - @category03_items.each do |item|
        .item-card
          = link_to item do
            -case item.sale_status
            - when 1
              .mark.sold
              %p.status-text SOLD
            - when 2
              .mark.reserved
              %p.status-text 予約済
            = image_tag(item.image, class: "item-img lazyloaded")
            .item-name.font-2
              = item.name
            .item-info.clearfix
              .item-info__price.font-5
                ¥
                = item.price
              .item-info__like.font-2
                = fa_icon "heart"
                %span 7
            %p.item-tax (税込)
    = link_to "すべての商品を見る", "#", class: "view-all"
  .items-container.clearfix
    .pickup-title
      = link_to "インテリア", "#"
    .items.clearfix
      - @category04_items.each do |item|
        .item-card
          = link_to item do
            -case item.sale_status
            - when 1
              .mark.sold
              %p.status-text SOLD
            - when 2
              .mark.reserved
              %p.status-text 予約済
            = image_tag(item.image, class: "item-img lazyloaded")
            .item-name.font-2
              = item.name
            .item-info.clearfix
              .item-info__price.font-5
                ¥
                = item.price
              .item-info__like.font-2
                = fa_icon "heart"
                %span 7
            %p.item-tax (税込)
    = link_to "すべての商品を見る", "#", class: "view-all"














