%p#notice= notice

%p
  %b Card_number:
  = @creditcard.card_number
%p
  %b Expiration_month:
  = @creditcard.expiration_month
%p
  %b Expiration_day:
  = @creditcard.expiration_year
%p
  %b Security_code:
  = @creditcard.security_code


= link_to 'Edit', edit_creditcard_path(@creditcard)
\|
= link_to 'Back', creditcards_path
