%header
  = render :partial => 'shared/single_header'

.container
  .signup-container-wrapper
    %h1 新規会員登録
    .form.signup-form
      .btn-default
        = link_to "#", class: "btn-mail" do
          = fa_icon "envelope"
          メールアドレスで登録

      .btn-default
        = link_to "#", class: "facebook-btn" do
          = fa_icon "facebook"
          Facebookで登録

      .btn-default
        = link_to "#", class: "google-plus-btn" do
          = fa_icon "google-plus"
          Googleで登録

      .button.btn-default.btn-red{action: "/users/new", type: "submit"} 次へ進む

%footer
  = render :partial => 'shared/single_footer'
