%h1 Listing select_brands

%table
  %thead
    %tr
      %th Status01
      %th Status02
      %th Status03
      %th
      %th
      %th

  %tbody
    - @select_brands.each do |select_brand|
      %tr
        %td= select_brand.status01
        %td= select_brand.status02
        %td= select_brand.status03
        %td= link_to 'Show', select_brand
        %td= link_to 'Edit', edit_select_brand_path(select_brand)
        %td= link_to 'Destroy', select_brand, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Select brand', new_select_brand_path
