%p#notice= notice

%p
  %b Status01:
  = @select_brand.status01
%p
  %b Status02:
  = @select_brand.status02
%p
  %b Status03:
  = @select_brand.status03

= link_to 'Edit', edit_select_brand_path(@select_brand)
\|
= link_to 'Back', select_brands_path
