.app-banner
  .app-banner-pc
    .app-banner-pc-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner-icon.clearfix
        =link_to "#" do
          = image_tag("app_bannar_mercari_icon.png", class: "mercari-new")
        =link_to "#" do
          = image_tag("app-store.svg", class: "app-image btn-hover-op07")
        = link_to "#" do
          = image_tag("google-play.svg", class: "app-image btn-hover-op07")
    = link_to "#" do
      = image_tag("app_bannar_tel.png", class: "app_bannar_tel")
