.top-main-visual
  .top-main-visual-inner
    .top-main-visual-content
      %h2
        スマホでかんたん
        %br>/
        フリマアプリ
      %p
        メルカリはスマホカメラからすぐに出品できる
        %br>/
        購入時も安心な独自システムのアプリです
      .top-main-visual__store.clearfix
        = link_to "#", class: "pull-left" do
          = image_tag("app-store.svg", class: "app-image btn-hover-op07")
        = link_to "#", class: "pull-left" do
          = image_tag("google-play.svg", class: "app-image btn-hover-op07")
    = image_tag("main_content_pc.png", class: "main_content_pc")
