.other-items-container.clearfix
  = link_to "#{@item.user.nickname}さんの出品商品", user_path(@item.user_id), class: "title"
  .items.clearfix
    - @owner_items.each do |item|
      .item
        = link_to item do
          = image_tag(item.image, class: "item__img")
          .item__name.font-2= item.name
          .item__info.clearfix
            .item__info--price.font-5
              ¥
              = item.price
            .item__info--like.font-2
              = fa_icon "heart"
              %span 7
          %p.item__tax (税込)
.other-items-container.clearfix
  = link_to "#{@item.category.name}（#{@item.category.category_genre.name}）の商品", category_path(@item.category), class: "title"
  .items.clearfix
    - @category_items.each do |item|
      .item
        = link_to item do
          = image_tag(item.image, class: "item__img")
          .item__name.font-2= item.name
          .item__info.clearfix
            .item__info--price.font-5
              ¥
              = item.price
            .item__info--like.font-2
              = fa_icon "heart"
              %span 7
          %p.item__tax (税込)
