.social-icon
  = link_to "#", class: "social-icon__btn bg-facebook" do
    = fa_icon "facebook-square"
  = link_to "#", class: "social-icon__btn bg-twitter" do
    = fa_icon "twitter"
  = link_to "#", class: "social-icon__btn bg-pinterest" do
    = fa_icon "pinterest"
