= render 'shared/header'
.container.bg-gray
  = render 'items/index-top-main-visual'
  .contents-wrapper
    = render 'items/index-item-pickup-section'
= render 'items/index-app-banner'
= render 'shared/footer'
