= render 'shared/header'
.container.bg-gray.box-shadow
  .show-contents-wrapper
    = render 'items/show-item-container'
    = render 'items/comment-container'
    = render 'items/show-social-icon'
    = render 'items/show-other-items-container'
= render 'shared/app-banner'
= render 'shared/footer'
