.dashboards-show-box
  .dashboards-header
    = image_tag(@dashboard.background, class: "background-img")
    = image_tag(@dashboard.avatar, class: "avatar-img")
    .info-nickname
      = @dashboard.user.nickname
      さんの販売履歴
  .user-items-lists
    %table
      %thead
        %tr
          %th.w40
          %th.text-center 商品名
          %th.text-center.w100 購入者
          %th.text-center.w100 日時

      %tbody
        - @sold_items.each.with_index(1)  do |item, i|
          %tr
            %td.text-center.w40= i
            %td.w-name= item.name
            %td.text-center.w200= item.sell_record.user.nickname
            %td.text-center.w200= item.sell_record.updated_at.strftime("%Y.%m.%d %H:%M")
