.dashboards-show-left
  .setting-box
    %ul.tag-1st-lists
      %li.tag-1st-lists__list.title 管理ページ
      %li.tag-1st-lists__list.hover
        = link_to "出品一覧", "/users/#{current_user.id}/dashboards"
      %li.tag-1st-lists__list.hover
        = link_to "販売履歴", "/users/#{current_user.id}/dashboards/sell_record"
      %li.tag-1st-lists__list.hover
        = link_to "購入履歴", "/users/#{current_user.id}/dashboards/buy_record"
      %li.tag-1st-lists__list.hover
        = link_to "いいね！商品", "/users/#{current_user.id}/dashboards/like_items"
      %li.tag-1st-lists__list.hover
        = link_to "プロフィール一覧", "/users/#{current_user.id}/dashboards/profile"
      %li.tag-1st-lists__list.title 設定
      %li.tag-1st-lists__list.hover
        = link_to "プロフィール", "/users/#{current_user.id}/dashboards/edit"
      %li.tag-1st-lists__list.hover
        = link_to "住所", "/users/#{current_user.id}/addresses/edit"
      %li.tag-1st-lists__list.hover
        = link_to "支払い方法", "/users/#{current_user.id}/creditcards/edit"
      %li.tag-1st-lists__list.hover
        = link_to "ログアウト", destroy_user_session_path, method: :delete
