= render 'shared/header'
.container.bg-gray.box-shadow
  .dashboards-show-contents-wrapper.clearfix
    = render 'dashboards/show-left'
    .dashboards-show-right
      = render 'dashboards/like_items'
= render 'shared/app-banner'
= render 'shared/footer'
