= render 'shared/header'
.container.bg-gray.box-shadow
  .brands-index-contents-wrapper.clearfix
    = render 'brands/index-left'
    .brands-index-right
      = render 'brands/index-brand-list'
= render 'shared/app-banner'
= render 'shared/footer'
