.categories-index-right
  .title-box
    %P.title-1st
      = params[:category_genre_id].present? ? CategoryGenre.find(params[:category_genre_id]).name : "カテゴリ一覧"
  = render 'categories/index-item-slider'

  - 1.upto(13) do |i|
    - if params[:category_genre_id].nil? || params[:category_genre_id] == "#{i}"
      .category-box
        %p.category-box__title
          = CategoryGenre.find("#{i}").name
        %hr
        %ul.category-box__lists.clearfix
          - eval("@genre#{i}_categories").each do |category|
            %li.category-box__list
              = link_to category.name, category
