= render 'shared/header'
.container.bg-gray
  .categories-index-contents-wrapper
    = render 'categories/index-tags'
    = render 'categories/index-category01'
= render 'shared/app-banner'
= render 'shared/footer'
