= render 'shared/header'
.container.bg-gray
  .categories-index-contents-wrapper.clearfix
    = render 'categories/index-left'
    = render 'categories/index-right'
= render 'shared/app-banner'
= render 'shared/footer'
